[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Robo 3T
Exec="/usr/local/bin/robo3t/bin/robo3t"
Icon=/usr/local/bin/robo3t/bin/robomongo-128x128.png
Comment=Robo 3T
Categories=Development;
Terminal=false
StartupNotify=true